[submodule "courses/基础课程/网络原理"]
	path = courses/基础课程/网络原理
	url = git@github.com:edu2act/course-NetWork.git
[submodule "courses/基础课程/数据库原理"]
	path = courses/基础课程/数据库原理
	url = git@github.com:edu2act/course-DataBase.git
[submodule "courses/基础课程/操作系统"]
	path = courses/基础课程/操作系统
	url = git@github.com:edu2act/course-OS.git
[submodule "courses/基础课程/程序设计基础（C语言）"]
	path = courses/基础课程/程序设计基础（C语言）
	url = git@github.com:edu2act/course-C.git
[submodule "courses/Java与移动智能设备开发/Java企业级开发（一）"]
	path = courses/Java与移动智能设备开发/Java企业级开发（一）
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/软件测试/软件测试基础"]
	path = courses/软件测试/软件测试基础
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/Java与移动智能设备开发/Spring框架介绍及应用"]
	path = courses/Java与移动智能设备开发/Spring框架介绍及应用
	url = git@github.com:edu2act/course-spring.git
[submodule "courses/Java与移动智能设备开发/Android综合应用"]
	path = courses/Java与移动智能设备开发/Android综合应用
	url = git@github.com:edu2act/course-Android-Integrated-Application.git
[submodule "courses/Java与移动智能设备开发/Java持久化框架开发"]
	path = courses/Java与移动智能设备开发/Java持久化框架开发
	url = git@github.com:edu2act/course-hibernate.git
[submodule "courses/软件测试/APP测试"]
	path = courses/软件测试/APP测试
	url = git@github.com:edu2act/course-APP-Testing.git
[submodule "courses/软件测试/测试综合技能"]
	path = courses/软件测试/测试综合技能
	url = git@github.com:edu2act/course-testing-comprehensive-skill.git
[submodule "courses/软件测试/性能测试"]
	path = courses/软件测试/性能测试
	url = git@github.com:edu2act/course-Load-Testing.git
[submodule "courses/软件测试/开源测试框架"]
	path = courses/软件测试/开源测试框架
	url = git@github.com:edu2act/course-web-driver.git
[submodule "courses/基础课程/WEB开发（一）"]
	path = courses/基础课程/WEB开发（一）
	url = git@github.com:edu2act/course-web1.git
[submodule "courses/Java与移动智能设备开发/Java与移动智能设备开发基础"]
	path = courses/Java与移动智能设备开发/Java与移动智能设备开发基础
	url = git@github.com:edu2act/course-android.git
[submodule "courses/HTML5与移动互联网开发/SPA富应用开发"]
	path = courses/HTML5与移动互联网开发/SPA富应用开发
	url = git@github.com:edu2act/course-spa.git
[submodule "courses/人工智能/推荐系统"]
	path = courses/人工智能/推荐系统
	url = git@github.com:edu2act/course-Recommender-Systems.git
[submodule "courses/人工智能/Python科学计算生态"]
	path = courses/人工智能/Python科学计算生态
	url = git@github.com:edu2act/course-PySCE.git
[submodule "courses/Java与大数据分析/Hadoop开发"]
	path = courses/Java与大数据分析/Hadoop开发
	url = git@github.com:edu2act/course-Hadoop.git
[submodule "courses/基础课程/操作系统实践"]
	path = courses/基础课程/操作系统实践
	url = git@github.com:edu2act/course-os-practice.git
[submodule "courses/Java与大数据分析/数据挖掘基础"]
	path = courses/Java与大数据分析/数据挖掘基础
	url = git@github.com:edu2act/course-Fundamentals-of-data-mining.git
[submodule "courses/Java与大数据分析/Python与数据挖掘"]
	path = courses/Java与大数据分析/Python与数据挖掘
	url = git@github.com:edu2act/course-Python.git
[submodule "courses/基础课程/软件体系结构（设计模式）"]
	path = courses/基础课程/软件体系结构（设计模式）
	url = git@github.com:edu2act/course-Software-architecture.git
[submodule "courses/HTML5与移动互联网开发/HTML5与CSS3前端开发"]
	path = courses/HTML5与移动互联网开发/HTML5与CSS3前端开发
	url = git@github.com:edu2act/course-HTML5-and-mobile-internet-development-fondation.git
